body{
    background-color: #3d060a;
    color: darkgoldenrod;
    font: georgia, fantasy, serif, cursive;
}

.navbar{
    background-color: darkgoldenrod;
    color:#3d060a;
    font: georgia, fantasy, serif, cursive;
}
    